.DS_Store
.git
.gitignore
.next
node_modules
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

.env
.env.*

apps/api/*
!apps/api/app/
apps/api/app/*
!apps/api/app/data/
apps/api/app/data/*
!apps/api/app/data/default-model-pricing.json
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
.venv
venv
