.DS_Store
node_modules
.next
out
.turbo
.vercel

# Env
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
tsconfig.tsbuildinfo

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
ENV/
.env.api
react-best-practices